.white {
  background-color: white;
  border-radius: 6px; }

.text-green {
  color: #0AA96C; }

.text-grey {
  color: #999999; }

body {
  background: #f7f7f7; }

a {
  color: #0AA96C; }
  a:focus, a:hover {
    color: #06613e; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600; }

h1, .h1 {
  font-size: 40px; }

h1.stats {
  line-height: .6;
  font-size: 44px; }

h2 {
  color: #0AA96C;
  font-weight: 600;
  font-size: 30px; }

h3 {
  font-size: 22px;
  line-height: 1.3;
  color: #0AA96C; }

h4 {
  font-size: 18px;
  line-height: 1.2; }

h5 {
  font-size: 14px; }

h6, .h6 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #999999; }

.btn-primary {
  background-color: #0AA96C;
  border-color: #0AA96C; }
  .btn-primary:hover {
    background-color: #06613e;
    border-color: #06613e; }

.btn-outline-primary {
  color: #0AA96C;
  border-color: #0AA96C;
  cursor: pointer; }
  .btn-outline-primary:hover {
    background-color: #0AA96C;
    border-color: #0AA96C; }

a[data-toggle="collapse"]:hover, a[data-toggle="collapse"]:focus, a[data-toggle="collapse"]:active {
  text-decoration: none; }

.subsection {
  margin-bottom: 20px; }

.why {
  color: #999999;
  font-size: 14px; }

.done:before {
  color: #0AA96C;
  content: "\f00c";
  font-family: FontAwesome;
  margin-right: 3px; }

.form-check-input {
  margin-left: 0; }

ul.tasks {
  list-style-type: none;
  padding-left: 0; }
  ul.tasks li {
    font-size: 14px; }
